@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.page-title {
  @apply font-bold text-[28px] md:text-[34px] text-gray-800;
}

.authentication {
  @apply flex justify-center items-center min-h-screen w-full bg-orange-50;
}

.root {
  @apply flex min-h-screen w-full flex-col lg:flex-row bg-slate-50;
}

.root-container {
  @apply mt-10 flex-1 overflow-auto py-8 lg:py-10 lg:mt-0 lg:max-h-screen;
}

@layer utilities {
  .wrapper {
    @apply max-w-6xl mx-auto px-5 p-10 md:px-10 w-full text-dark-500;
  }

  .gradient-background {
    @apply bg-gradient-to-r from-orange-600 via-orange-500 to-orange-400;
  }

  /* Sidebar component */
  .sidebar {
    @apply hidden h-screen w-80 bg-orange-50 shadow-md shadow-orange-200/50 lg:flex;
  }

  .sidebar-container {
    @apply flex flex-col size-full gap-5 py-5;
  }

  .sidebar-logo {
    @apply flex items-center justify-center md:py-3;
  }

  .sidebar-nav {
    @apply h-full flex-col overflow-auto justify-between md:flex md:gap-3;
  }

  .sidebar-nav_list {
    @apply hidden w-full flex-col items-start gap-2 md:flex px-6;
  }

  /* Nav elements */

  .nav-element {
    @apply flex justify-center items-center w-full font-semibold leading-tight whitespace-nowrap rounded-full bg-cover transition-all hover:bg-orange-100 hover:shadow-inner hover:brightness-95 hover:shadow-md;
  }

  .nav-element-active {
    @apply gradient-background text-white font-bold;
  }

  .nav-element-inactive {
    @apply text-gray-800;
  }

  .nav-element-disabled {
    @apply flex justify-center items-center w-full font-semibold leading-tight whitespace-nowrap rounded-full bg-cover cursor-not-allowed transition-all hover:backdrop-brightness-95 hover:shadow-inner hover:shadow-md;
  }

  .nav-link {
    @apply p-4 pl-7 font-semibold flex items-center size-full gap-5;
  }

  .nav-link-disabled {
    @apply p-4 pl-7 font-semibold flex items-center size-full gap-5 text-gray-400 select-none pointer-events-none;
  }

  /* NavMobile / Header Component */
  .header {
    @apply flex justify-between fixed h-16 w-full border-b-2 border-orange-50 bg-white p-5 lg:hidden;
  }

  .header-content {
    @apply flex items-center justify-center gap-3 md:py-2;
  }

  .header-nav_content {
    @apply flex flex-col justify-between bg-orange-50 overflow-auto p-4;
  }

  .header-nav_content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none;
  }

  .header-nav_list {
    @apply flex w-full flex-col mt-7 gap-2;
  }

  /* Form */
  .form-input_field {
    @apply rounded-full border-2 font-semibold text-[16px] leading-[140%] border-orange-200/25 drop-shadow-md shadow-sm shadow-orange-200/20 text-gray-700 disabled:opacity-100 h-[45px] md:h-[55px] focus-visible:ring-offset-0 px-4 py-3 focus-visible:ring-transparent !important;
  }

  .form-select_field {
    @apply w-full border-2 font-semibold text-[16px] leading-[140%] border-orange-200/25 drop-shadow-md shadow-sm shadow-orange-200/15 rounded-full h-[45px] md:h-[55px] text-gray-700 disabled:opacity-100 placeholder:text-dark-400/50 px-4 py-3 focus:ring-offset-0 focus-visible:ring-transparent focus:ring-transparent focus-visible:ring-0 focus-visible:outline-none !important;
  }

  .prompt-field {
    @apply flex flex-col gap-5 lg:flex-row lg:gap-10;
  }

  .input_field {
    @apply rounded-full border-2 font-semibold text-[16px] leading-[140%] border-orange-200/25 drop-shadow-md shadow-sm shadow-orange-200/20 text-gray-700 disabled:opacity-100 h-[45px] md:h-[55px] focus-visible:ring-offset-0 px-4 py-3 focus-visible:ring-transparent !important;
  }

  .submit-button {
    @apply text-[16px] flex justify-center items-center p-4 min-h-[56px] w-56 gap-1 gradient-background font-bold whitespace-nowrap rounded-full transition-all hover:bg-orange-100 hover:shadow-inner hover:brightness-95 hover:shadow-md;
  }

  .submit-button-mobile {
    @apply text-[16px] flex justify-center items-center p-4 min-h-[56px] w-full gap-1 gradient-background font-bold whitespace-nowrap rounded-full transition-all hover:bg-orange-100 hover:shadow-inner hover:brightness-95 hover:shadow-md;
  }

  /* ModificationForm Component */

  .media-upload-field {
    @apply grid h-fit min-h-[200px] grid-cols-1 gap-10 md:gap-5 py-4 md:grid-cols-2;
  }

  /* MediaUploader Component */

  .media-success-toast {
    @apply text-green-700 bg-green-200;
  }

  .media-error-toast {
    @apply text-red-700 bg-red-200;
  }

  .media-header-text {
    @apply font-bold text-[18px] md:text-[24px] text-gray-800;
  }

  .media-cld_container {
    @apply flex justify-center items-center min-h-64 flex-col gap-5 rounded-[32px] border border-dashed bg-orange-100/20 shadow-inner shadow-orange-900/20 border-orange-200/25;
  }

  .media-cld_icon-box {
    @apply rounded-full bg-white p-5 drop-shadow shadow-orange-900/20;
  }

  .media-cld_text {
    @apply font-medium text-[13px] leading-[100%];
  }

  .media-cld-container_cldImage {
    @apply overflow-hidden rounded-[32px] bg-white px-5 py-6 border-2 border-orange-200/25 drop-shadow-md shadow-sm shadow-orange-200/20;
  }

  .media-cld_cldImage {
    @apply h-fit min-h-72 w-full object-cover;
  }

  /* TokensModal */

  .tokensModal-button {
    @apply text-[16px] text-white flex justify-center items-center p-4 min-h-[56px] w-full gradient-background gap-1 bg-orange-50 font-bold whitespace-nowrap rounded-full transition-all hover:bg-orange-100 hover:shadow-inner hover:brightness-95;
  }

  .tokensModal-button-second {
    @apply text-[16px] text-dark-400 flex justify-center items-center p-4 min-h-[56px] w-full gap-1 bg-orange-50 font-bold whitespace-nowrap rounded-full transition-all hover:brightness-[97%] !important;
  }

  /* ModifiedImage */

  .modifying-layer {
    @apply absolute flex items-center justify-center inset-0 gradient-background animate-pulse opacity-80;
  }
}

/* Clerk overrides */
.cl-internal-16oa7nw,
.cl-internal-uyu30o {
  display: none;
}

.cl-internal-1cd5e4l {
  flex-direction: row-reverse;
  gap: 12px;
}

.cl-internal-jayce9 {
  font-size: 1rem;
  font-weight: 600;
}

.cl-internal-1n7zobh {
  justify-content: center;
}

.cl-internal-1yihf81 {
  height: 150%;
}

/* Material Icons overrides */

.nav-menu_icon {
  font-size: 40px !important;
}

.image-add_icon {
  font-size: 32px !important;
  @apply text-gray-800;
}

.image-download_icon {
  font-size: 32px !important;
  @apply text-dark-500;
}

.image-syncIcon_icon {
  font-size: 64px !important;
  @apply text-gray-800;
}

.tokensModal-close_icon {
  font-size: 32px !important;
  @apply text-gray-800;
}

.tokensModal-dollar_icon {
  font-size: 32px !important;
  @apply text-gray-800;
}
